@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




html,body{
    
    margin: 0px;
}
.roboto-navbar{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255,144,14,0.1);
    
    
}


/* header styles */

/* Navbar related styles */
.navbarlinks{
    display: flex;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
    direction: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.mainlogo{
    margin-left: 40px;
}
.navdiv{
    margin-right: 40px;
}

.midelements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    background-color: rgb(255,144,14,0.1);
}
.midelements img{
    margin-top: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.midelements>.roboto-navbar{
    font-size: 3vh;
    font-weight: bolder;
    
}
.smalltexts{
    box-sizing: border-box;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 50%;
    text-align: center;
}
.buttonmid{
    margin-top: 5px;
    margin-bottom: 20px;
}
.buttonmid1{
    width: 180px;
    height: 54px;
    background-color: #FF900E;
    color: white;
    border: none;
}