*{
    margin: 0;
    padding: 0;
}
a{
    /* text-decoration: none; to remove underline */
    text-decoration: none;
    color: black;
}
.topdiv{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.topdivright{
    display: flex;
    align-items: center;
    gap:20px;
}
#firstdivfontelement{
    font-size: small;
}
#signupbutton{
    padding: 5px 10px;
    background-color: #ff4419;
    border: none;
    color:white;
}

.seconddiv{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 10px;

}

#seconddifontelement{
    font-size: small;
}
.thirddiv{
    background-color: rgb(216, 236, 236);
    height: 400px;
    
}
.thirddivpartone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}
.thirddivparttwo {
    display: grid;
    min-height: 200px;
    
    grid-template-columns: repeat(4, 180px); 
    grid-auto-rows: 200px;
    
    justify-content: space-around;
    
}

#items {
    background-color: rgb(255, 255, 255);
    width: 175px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
    
    
}

.thirddivpartthree{
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}